Source:devuan-keyring
Section: misc
Priority: extra
Maintainer: Franco (nextime) Lanza <nextime@devuan.org>
Bugs: mailto:nextime@devuan.org
Homepage: http://www.devuan.org
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9)

Package: devuan-keyring
Architecture: all
Multi-Arch: foreign
Depends: gnupg (>= 1.0.6-4), ${misc:Depends}
Description: GnuPG archive key of the devuan repository
 The devuan repository digitally signs its Release files. This
 package contains the repository key used for that.
